/*
  This theme is intended to be used as an addon for https: //cdn.simplecss.org/simple.min.css
  Original author: DiegoBarMor
*/

/************************************************/
/*************     PRISMA THEME     *************/
/************************************************/
:root {
  color-scheme: dark;
  --bg: #111111;
  --accent-bg: #2b2b2b;
  --contents-bg: #212121;
  --text: #dcdcdc;
  --text-light: #ababab;
  --accent: #8dd9cc;
  --accent-hover: orange;
  --accent-text: var(--bg);
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
  --bold: #eac470;
  --header: #c3fcf1;
  --nav-box: #222222;
}


/************************************************/
/**************** Navigation bar ****************/
/************************************************/
body > header{
  top: 0;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  background-color: var(--nav-box);
  border-bottom: 2px solid var(--accent);
  box-shadow: 0px 0px 32px var(--accent);
  z-index: 3;
}
body > header > :only-child {
  margin-block-start: 0;
}
.prisma-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prisma-nav-icon {
  margin-left: 1rem;
  max-width: 40px;
}
.prisma-nav-buttons {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  flex-grow: 1;
}

/********** Buttons **********/
a img.prisma-nav-icon {
  /* display: inline-block; */
  filter: brightness(0) saturate(100%)
    invert(92%) sepia(15%) saturate(893%)
    hue-rotate(103deg) brightness(94%)
    contrast(81%) drop-shadow(0 0 4px var(--accent));
    /* calculated with https://codepen.io/sosuke/pen/Pjoqqp for --accent: #8dd9cc; */
  transition: filter 0.4s;
}
a img.prisma-nav-icon:hover {
  filter: brightness(0) saturate(100%)
    invert(76%) sepia(56%) saturate(4966%)
    hue-rotate(1deg) brightness(108%)
    contrast(104%) drop-shadow(0 0 4px var(--accent-hover));;
    /* calculated with https://codepen.io/sosuke/pen/Pjoqqp for --accent-hover: #ffa500; */
}
nav a.button {
  margin: .5rem !important;
  box-shadow: 0px 0px 16px var(--accent);
}
nav a.button:hover {
  color: var(--accent-text);
  box-shadow: 0px 0px 16px var(--accent-hover);
}


/************************************************/
/***************** Main content *****************/
/************************************************/
body {
  grid-template-columns: 1fr min(75rem, 90%) 1fr;
}
main{
  padding: 2rem;
  margin-top: calc(60px + 1rem);
  box-shadow: 0px 0px 32px var(--accent);
  background-color: var(--contents-bg);
}
h1 {
  color: var(--header);
  font-weight: bold !important;
}
h2 {
  color: var(--header);
  font-weight: bold !important;
}
h3 {
  color: var(--header);
}
h4 {
  color: var(--header);
}
a:hover {
  color: var(--accent-hover);
}
b {
  color: var(--bold);
}


/* Media query for smaller screens */
@media (max-width: 600px) {
  main {
    margin-top: calc(60px + 2rem);
  }
}
